PyPDF2
langchain
streamlit
python-dotenv
faiss-cpu
openai
# uncomment to use huggingface llms
# huggingface-hub
# uncomment to use instructor embeddings
# InstructorEmbedding
# sentence-transformers


